*{
    box-sizing: border-box;
}

.wrap{
    width: 1170px;
    margin: 0 auto;
}

ul.menu{
    widows: 480px;
    text-align: justify;
}

li.menu{
    display:inline;
    text-align: right;
}

a {
    text-align: center;
    text-decoration: none;
    color:#46bfa9;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-weight: bold;
    margin-right:50px;
}
a:hover {
    color:#f38181;
    text-decoration: underline; 
}


.logo{
    text-decoration: none;
    font-family: "Montserrat Regular", sans-serif;
    color:#95e1d3;
    display:inline-block;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align:left;
    margin: 0px 15px;
}

.wrap{
   display:flex;
   justify-content: space-between;
}

h1, h3 {
    text-decoration: none;
    font-family: "Kaushan Script";
    color:  #333333;
    font-size: 24px;
    line-height: 28.8px;
    margin:125px auto 0;
    text-align:center;
    font-style: italic;
    font-weight:italic;
}

.under{
    font-family: "Montserrat Regular";sans-serif;
    margin:30px auto 0;
    color: #333333;
    font-size: 30px;
    line-height:36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
}

.under:after{
    content:"";
    background: #f38181;
    height:2px;
    width:60px;
    display:block;
    margin-left:162px;
    text-align: center;
    margin: 45Px auto 50px auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.main{
    display: block;
    display:flex;
    flex-wrap: wrap;
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    vertical-align: middle;
    padding-bottom: 115px;
}

.description{
    width: 380px;
    height:67px;
    margin:95px auto 107px;
}

.title{
   font-family: 'Montserrat Regular', sans-serif;
   color:  #333333;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
   text-transform: uppercase;
}

.main-text{
   font-family: 'Roboto Regular', sans-serif;
   color:  #999999;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
}

.ph::before{
    content:url(../img/alarm.png);
}

.web::before{
    content:url(../img/linegraph.png);
}

.creativ::before{
    content:url(../img/comp.png);
}

.seo::before{
    content:url(../img/book.png);
}

.css::before{
    content:url(../img/home.png);
}

.digit::before{
    content:url(../img/image.png);
}

.pictures {
    display: block;
    display:flex;
    flex-wrap: wrap;
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 300px;
}


.extra-info {
    text-align: center;
    font-family: 'Roboto Regular', sans-serif;
    color:  #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-left:110px;
    margin-bottom:90px;
    max-width: 1170px;

}

.name{
    font-family: 'Montserrat Regular', sans-serif;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform:uppercase;
}

.job {
    font-family: "Roboto Regular", sens-serif;
    color: #999999;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    text-align: center;
}

.pic{
    position: relative;
    width: 380px;
    height:470px;
}

.hov{
    position: absolute;
    bottom:5px;
    right:5px;
    width:380px;
    height:470px;
    background: linear-gradient(to top, #f1d787, #ef898a);
    box-shadow: 6px 6px #95e1d3;
    z-index: 1;
    display: none;
    text-align: center;
    list-style: none;
}

.pictures:hover{
    cursor:pointer;
}

.pictures:hover .hov{
    display:block;
}

.icons {
    margin: 0;
    padding: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
}

.icons a{
    display:inline-block;
    width: 56px;
    height: 56px;
    background-color:  #fce38a;
}

.li:hover{
    background-color:  #95e1d3;
}

.page-footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Montserrat Regular', sans-serif;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width:1170px;
    margin-left:135px;
}

.coname{
    color:  #f38181;
}

.placeholder {
    font-family: "Roboto Regular", sans-serif;
    color:  #cccccc;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}

input {
    border-style: solid;
    border-width: 1px;
    border-color:  #e7e7e7;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 230px;
    height: 40px;
}
button{
    background-color:  #95e1d3;
    width: 150px;
    height: 40px;
}

.btn{
    font-family: "Montserrat Regular", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.subscription-form input::placeholder {
    font-family: "Roboto Regular", sans-serif;
    color:  #cccccc;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}
